@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-content {
    flex-grow: 1;
}

.author-info {
    margin-top: auto; /* This pushes the author section to the bottom of the card */
}

.title-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Menentukan jumlah maksimum baris */
    line-clamp: 2;
}

.body-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5; /* Menentukan jumlah maksimum baris */
    line-clamp: 5;
}

